[Unit]
Description=go-ginx server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory={{INSTALL_ROOT}}
EnvironmentFile=-{{INSTALL_ROOT}}/config/goginx-server.env
ExecStart={{INSTALL_ROOT}}/bin/goginx-server -config {{INSTALL_ROOT}}/config/server.json
Restart=on-failure
RestartSec=2s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
